<div id="skipnav"><a href="#page-top">Skip to main content</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom"
     [ngClass]="{'affix':isShrunk}">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <ul class="list-inline" style="margin: 0">
        <li>
          <a href="https://www.facebook.com/junior.galdino.74" target="_blank" class="btn-social btn-outline">
            <span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/franclis" target="_blank" class="btn-social btn-outline">
            <span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/franclisjunior" target="_blank" class="btn-social btn-outline">
            <span class="sr-only">Github</span><i class="fa fa-fw fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll">
          <a pageScroll href="#curriculum">CURRICULUM</a>
        </li>
        <li class="page-scroll">
          <a pageScroll href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header>
  <div class="container" id="page-top" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="https://secure.gravatar.com/avatar/586d7f63f6d4c907f10c8c6aec9f1afb?size=400px" alt="">
        <div class="intro-text">
          <h1 class="name">Franclis Galdino</h1>
          <hr class="item-divider item-divider-light item-divider-coffee">
          <span class="skills">Sênior Software Engineer</span>
          <p>
            I work in the development area for more than 8 years, working in IT & PDI companies.
            I have consolidated experience in developing web solutions. 
            I also have extensive knowledge in the cloud, requirements gathering, integrations and tests.
            Currently, I work as Senior Software Engineer at PicPay remotely.
          </p>
        </div>
      </div>
    </div>

  </div>
</header>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll" *ngIf="isShrunk">
  <a class="btn btn-primary" pageScroll href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
