.job-item hr, .education-item hr  {
  border: solid 1px white !important;
  margin: 20px 0;
}

.curriculum-title {
  font-weight: bold;
}

.job-sub-item {
  margin: 10px 0;
  white-space: pre-line
}

.job-sub-item i, .education-sub-item i {
  padding-right: 10px;
}
